{% if app.session.flashbag.keys is not empty %}
    <div class="row">
        <div class="col-lg-12">
            {% for type, flashMessages in app.session.flashbag.all() %}
                {% for flashMessage in flashMessages %}
                    <div class="alert alert-{{ type }}">
                        {{ flashMessage|trans }}
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
{% endif %}
